{% extends 'base.html' %}

{% block title %}Dizimistas{% endblock %}

{% block pageheader %}Dizimistas{% endblock %}

{% block breadcrumb %}
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Início</a></li>
      <li class="breadcrumb-item active">Dizimistas</li>
    </ol>
  </nav>
{% endblock %}

{% block content %}
  <div class="mb-4 d-flex flex-row-reverse">
    <a href="{% url 'dizimo:novo_dizimista' %}" class="btn btn-primary">Novo dizimista</a>
  </div>

  <div class="card">
    <div class="card-header d-flex align-items-center">
      <h3 class="h4">Listagem de Dizimistas</h3>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead class="thead-inverse">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Endereço</th>
            <th scope="col">Bairro</th>
            <th scope="col">Cidade</th>
            <th scope="col">Estado</th>
            <th scope="col">Paróquia</th>
            <th scope="col">Comunidade</th>
            <th scope="col">Data de nascimento</th>
          </tr>
        </thead>
        <tbody>
          {% for dizimista in dizimistas %}
            <tr>
              <td scope="row">
                <a href="{% url 'dizimo:exibe_dizimista' dizimista.pk %}" title="Exibir {{ dizimista.nome }}"><i class="fa fa-search" aria-hidden="true"></i></a>
                <a href="{% url 'dizimo:edita_dizimista' dizimista.pk %}" title="Editar {{ dizimista.nome }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
              </td>
              <td>{{ dizimista.nome }}</td>
              <td>{{ dizimista.endereco }}</td>
              <td>{{ dizimista.bairro }}</td>
              <td>{{ dizimista.cidade }}</td>
              <td>{{ dizimista.estado }}</td>
              <td>{{ dizimista.paroquia }}</td>
              <td>{{ dizimista.comunidade }}</td>
              <td>{{ dizimista.data_nascimento }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% include 'includes/pagination.html' %}
{% endblock %}