{% extends 'base.html' %}

{% block title %}Alteração de senha{% endblock %}

{% block pageheader %}Alteração de senha{% endblock %}

{% block breadcrumb %}
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Início</a></li>
      <li class="breadcrumb-item active">Alteração de senha</li>
    </ol>
  </nav>
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header d-flex align-items-center">
      <h3 class="h4">Alteração de senha</h3>
    </div>
    <div class="card-body">
      <form method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-success">Alterar senha</button>
      </form>
    </div>
  </div>
{% endblock %}