{% extends 'base_recibo_qz.html' %}

{% block content %}
  <p>
    Recebemos de <strong>{{dizimo.dizimista.nome}}</strong> a importância de
    <strong>R$ {{dizimo.valor}}</strong> referente ao pagamento de dízimo
    relativo ao mês de <strong>{{dizimo.referencia|date:"m/Y"}}</strong>.
  </p>
  Registrado por: {{dizimo.usuario.get_full_name}}<br>
  Data: {{dizimo.cadastrado_em|date:"d/m/Y H:i"}}
{% endblock %}

{% block recibo_raw %}
  'Recebemos de {{dizimo.dizimista.nome|escapejs}} a importância de ' +
  'R$ {{dizimo.valor}} referente ao pagamento de dízimo relativo ao mês de ' +
  '{{dizimo.referencia|date:"m/Y"}}.\n' +
  '\n' +
  'Registrado por: {{dizimo.usuario.get_full_name|escapejs}}\n' +
  'Data: {{dizimo.cadastrado_em|date:"d/m/Y H:i"}}\n'
{% endblock %}