{% extends 'base.html' %}

{% block title %}R$ {{ oferta.valor }}{% endblock %}

{% block pageheader %}R$ {{ oferta.valor }}{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Início</a></li>
    <li class="breadcrumb-item"><a href="{% url 'dizimo:ofertas' %}">Ofertas</a></li>
    <li class="breadcrumb-item active">R$ {{ oferta.valor }}</li>
  </ol>
</nav>
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header d-flex align-items-center">
      <h3 class="h4">R$ {{ oferta.valor }}</h3>
    </div>
    <div class="card-body">
      <form method="post" class="mb-4" novalidate>
        {% csrf_token %}
        <p>Tem certeza que deseja excluir esta oferta?</p>
        <button type="submit" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i> Excluir</button>
        <a href="{% url 'dizimo:exibe_oferta' oferta.pk %}" class="btn btn-outline-secondary" role="button"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</a>
      </form>
    </div>
  </div>
  <a href="{% url 'dizimo:ofertas' %}" class="btn btn-secondary" role="button">Voltar</a>
{% endblock %}
