{% extends 'base_recibo_qz.html' %}

{% block content %}
  <p>
    Recebemos a importância de <strong>R$ {{oferta.valor}}</strong>,
    em <strong>{{oferta.data|date:"d/m/Y"}}</strong>, referente 
    ao recebimento de oferta.
  </p>
  Registrado por: {{oferta.usuario.get_full_name}}<br>
  Data: {{oferta.cadastrado_em|date:"d/m/Y H:i"}}
{% endblock %}

{% block recibo_raw %}
  'Recebemos a importância de ' +
  'R$ {{oferta.valor}}, em {{doacao.data|date:"d/m/Y"}}, ' +
  'referente ao recebimento de oferta.\n' +
  '\n' +
  'Registrado por: {{oferta.usuario.get_full_name|escapejs}}\n' +
  'Data: {{oferta.cadastrado_em|date:"d/m/Y H:i"}}\n'
{% endblock %}