*˜
._*
*.egg-info
*.pot
*.py[co]
__pycache__
.DS_Store
.DS_Store?
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/
staticfiles/
.Trashes
ehthumbs.db
Thumbs.db
.idea/
.vscode/
*/_versions/*
staticfiles/
