{% extends 'base.html' %}

{% block title %}{{ batismo }}{% endblock %}

{% block pageheader %}{{ batismo }}{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Início</a></li>
    <li class="breadcrumb-item"><a href="{% url 'dizimo:batismos' %}">Batismos</a></li>
    <li class="breadcrumb-item active">{{ batismo }}</li>
  </ol>
</nav>
{% endblock %}

{% block content %}
  <div class="mb-4 d-flex flex-row-reverse">
    <ul class="list-inline">
      <li class="list-inline-item"><a href="{% url 'dizimo:edita_batismo' batismo.pk %}" class="btn btn-primary">Editar</a></li>
      <li class="list-inline-item"><a href="{% url 'dizimo:exclui_batismo' batismo.pk %}" class="btn btn-danger">Excluir</a></li>
    </ul>    
  </div>

  <div class="card">
    <div class="card-header d-flex align-items-center">
      <h3 class="h4">{{ batismo }}</h3>
    </div>
    <div class="card-body">
      <form method="post" class="mb-4" novalidate>
        {% csrf_token %}
        <p>Tem certeza que deseja excluir este batismo?</p>
        <button type="submit" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i> Excluir</button>
        <a href="{% url 'dizimo:exibe_batismo' batismo.pk %}" class="btn btn-outline-secondary" role="button"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</a>
      </form>
    </div>
  </div>
  <a href="{% url 'dizimo:batismos' %}" class="btn btn-secondary" role="button">Voltar</a>
{% endblock %}