{% extends 'base.html' %}

{% load thumbnail %}

{% block title %}{{ dizimista.nome }}{% endblock %}

{% block pageheader %}{{ dizimista.nome }}{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Início</a></li>
    <li class="breadcrumb-item"><a href="{% url 'dizimo:dizimistas' %}">Dizimistas</a></li>
    <li class="breadcrumb-item active">{{ dizimista.nome }}</li>
  </ol>
</nav>
{% endblock %}

{% block content %}
  <div class="mb-4 d-flex flex-row-reverse">
    <ul class="list-inline">
      <li class="list-inline-item"><a href="{% url 'dizimo:novo_dizimista' %}" class="btn btn-success"><i class="fa fa-plus-circle" aria-hidden="true"></i> Novo dizimista</a></li>
      <li class="list-inline-item"><a href="{% url 'dizimo:edita_dizimista' dizimista.pk %}" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar</a></li>
      {% if perms.dizimo.delete_dizimista %}
        <li class="list-inline-item"><a href="{% url 'dizimo:exclui_dizimista' dizimista.pk %}" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i> Excluir</a></li>
      {% endif %}
      <li class="list-inline-item"><a href="{% url 'dizimo:relatorio_individual_dizimista_pdf' dizimista.pk %}" target="_blank" class="btn btn-warning"><i class="fa fa-print" aria-hidden="true"></i> Recebimentos</a></li>
      <li class="list-inline-item"><a href="{% url 'dizimo:exibe_dizimista_pdf' dizimista.pk %}" target="_blank" class="btn btn-dark"><i class="fa fa-print" aria-hidden="true"></i> Imprimir</a></li>
    </ul>
  </div>

  <div class="card">
    <div class="card-header d-flex align-items-center">
      <h3 class="h4">{{ dizimista.nome }}</h3>
    </div>
    <div class="card-body">
      {% if dizimista.foto %}
        <div class="row">
          <div class="col-9">
            <table class="table table-striped">
              <tr>
                <td width="130" class="text-right"><strong>Nº Cad.</strong></td>
                <td>{{dizimista.pk|stringformat:"03d"}}</td>
              </tr>
              <tr>
                <td class="text-right"><strong>Nome</strong></td>
                <td>{{dizimista.nome}}</td>
              </tr>
              <tr>
                <td class="text-right"><strong>Endereço</strong></td>
                <td>{{dizimista.endereco}}</td>
              </tr>
              <tr>
                <td class="text-right"><strong>Bairro</strong></td>
                <td>{{dizimista.bairro}}</td>
              </tr>
              <tr>
                <td class="text-right"><strong>Cidade</strong></td>
                <td>{{dizimista.cidade}}/{{dizimista.estado}}</td>
              </tr>
              <tr>
                <td class="text-right"><strong>Data de nascimento</strong></td>
                <td class="align-middle">{{dizimista.data_nascimento}}</td>
              </tr>
              <tr>
                <td class="text-right"><strong>Paróquia</strong></td>
                <td>{{dizimista.paroquia}}</td>
              </tr>
              <tr>
                <td class="text-right"><strong>Comunidade</strong></td>
                <td>{{dizimista.comunidade}}</td>
              </tr>
              <tr>
                <td class="text-right"><strong>Sexo</strong></td>
                <td>{{dizimista.get_sexo_display}}</td>
              </tr>
              <tr>
                <td class="text-right"><strong>Estado Civil</strong></td>
                <td>{{dizimista.get_estado_civil_display}}</td>
              </tr>
            </table>
          </div>
          <div class="col">
            <div class="text-center">
              {% thumbnail dizimista.foto "225x300" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="Foto de {{ user.username }}" class="img-thumbnail">
              {% endthumbnail %}
            </div>
          </div>
        </div>
      {% else %}
        <table class="table table-striped">
          <tr>
            <td width="130" class="text-right"><strong>Nome</strong></td>
            <td>{{dizimista.nome}}</td>
            <td class="text-right"><strong>Nº Cad.</strong></td>
            <td>{{dizimista.pk|stringformat:"03d"}}</td>
          </tr>
          <tr>
            <td class="text-right"><strong>Endereço</strong></td>
            <td>{{dizimista.endereco}}</td>
            <td class="text-right"><strong>Bairro</strong></td>
            <td>{{dizimista.bairro}}</td>
          </tr>
          <tr>
            <td class="text-right"><strong>Cidade</strong></td>
            <td>{{dizimista.cidade}}/{{dizimista.estado}}</td>
            <td class="text-right"><strong>Data de nascimento</strong></td>
            <td>{{dizimista.data_nascimento}}</td>
          </tr>
          <tr>
            <td class="text-right"><strong>Paróquia</strong></td>
            <td>{{dizimista.paroquia}}</td>
            <td class="text-right"><strong>Sexo</strong></td>
            <td>{{dizimista.get_sexo_display}}</td>
          </tr>
          <tr>
            <td class="text-right"><strong>Comunidade</strong></td>
            <td>{{dizimista.comunidade}}</td>
            <td class="text-right"><strong>Estado Civil</strong></td>
            <td>{{dizimista.get_estado_civil_display}}</td>
          </tr>
        </table>
      {% endif %}

      <h3 class="h4 mt-5">Telefones</h3>
      <table class="table formset">
        <thead class="thead-light">
          <tr>
              <th scope="col">Número</th>
              <th scope="col">Tipo</th>
              <th scope="col">Operadora</th>
          </tr>
        </thead>
        <tbody>
          {% for telefone in dizimista.telefones.all %}
            <tr>
              <td>{{telefone.numero}}</td>
              <td>{{telefone.get_tipo_display}}</td>
              <td>{{telefone.get_operadora_display}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <a href="{% url 'dizimo:dizimistas' %}" class="btn btn-secondary" role="button"><i class="fa fa-chevron-left" aria-hidden="true"></i> Voltar</a>
{% endblock %}
