{% extends 'base.html' %}

{% block title %}Dizimistas{% endblock %}

{% block pageheader %}Dizimistas{% endblock %}

{% block breadcrumb %}
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Início</a></li>
      <li class="breadcrumb-item active">Dizimistas</li>
    </ol>
  </nav>
{% endblock %}

{% block content %}
  <div class="mb-4 d-flex flex-row-reverse">
      <ul class="list-inline">
        <li class="list-inline-item"><a href="{% url 'dizimo:ficha_cadastral_dizimista_pdf' %}" target="_blank" class="btn btn-dark"><i class="fa fa-print" aria-hidden="true"></i> Ficha Cadastral de Dizimista</a></li>
        <li class="list-inline-item"><a href="{% url 'dizimo:novo_dizimista' %}" class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i> Novo dizimista</a></li>
      </ul>
  </div>

  <div class="card">
    <div class="card-header d-flex align-items-center">
      <h3 class="h4">Filtros para pesquisa</h3>
    </div>
    <div class="card-body">
      <form method="GET">
        {% include 'includes/filter_form.html' %}
      </form>
    </div>
  </div>

  <div class="card">
    <div class="card-header d-flex align-items-center">
      <h3 class="h4">Listagem de Dizimistas</h3>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead class="thead-inverse">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nº Cad.</th>
            <th scope="col">Nome</th>
            <th scope="col">Endereço</th>
            <th scope="col">Bairro</th>
            <th scope="col">Paróquia</th>
            <th scope="col">Comunidade</th>
            {% comment %} <th scope="col">Data de nascimento</th> {% endcomment %}
          </tr>
        </thead>
        <tbody>
          {% for dizimista in dizimistas %}
            <tr>
              <td scope="row" width="60">
                <a href="{% url 'dizimo:exibe_dizimista' dizimista.pk %}" title="Exibir {{ dizimista.nome }}"><i class="fa fa-search" aria-hidden="true"></i></a>
                <a href="{% url 'dizimo:edita_dizimista' dizimista.pk %}" title="Editar {{ dizimista.nome }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
              </td>
              <td width="80">{{ dizimista.pk|stringformat:"03d" }}</td>
              <td>{{ dizimista.nome }}</td>
              <td>{{ dizimista.endereco }}</td>
              <td>{{ dizimista.bairro }}</td>
              <td>{{ dizimista.paroquia }}</td>
              <td>{{ dizimista.comunidade }}</td>
              {% comment %} <td>{{ dizimista.data_nascimento }}</td> {% endcomment %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% include 'includes/pagination.html' %}
{% endblock %}