{% extends 'base.html' %}

{% load static thumbnail %}

{% block title %}{{ usuario.username }}{% endblock %}

{% block pageheader %}{{ usuario.username }}{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Início</a></li>
    <li class="breadcrumb-item"><a href="{% url 'usuarios' %}">Usuários</a></li>
    <li class="breadcrumb-item active">{{ usuario.username }}</li>
  </ol>
</nav>
{% endblock %}

{% block content %}
  <div class="mb-4 d-flex flex-row-reverse">
    <ul class="list-inline">
      <li class="list-inline-item"><a href="{% url 'novo_usuario' %}" class="btn btn-success"><i class="fa fa-plus-circle" aria-hidden="true"></i> Novo usuário</a></li>
      <li class="list-inline-item"><a href="{% url 'edita_usuario' usuario.pk %}" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar</a></li>
      <li class="list-inline-item"><a href="{% url 'altera_senha_usuario' usuario.pk %}" class="btn btn-warning"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Alterar senha</a></li>
      <li class="list-inline-item"><a href="{% url 'exclui_usuario' usuario.pk %}" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i> Excluir</a></li>
    </ul>
  </div>

  <div class="card">
    <div class="card-header d-flex align-items-center">
      <h3 class="h4">{{ usuario.username }}</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-9">
          <table class="table table-striped">
            <tr>
              <td width="150" class="text-right"><strong>Nome de usuário</strong></td>
              <td>{{ usuario.username }}</td>
            </tr>
            <tr>
              <td class="text-right"><strong>Nome completo</strong></td>
              <td>{{ usuario.get_full_name }}</td>
            </tr>
            <tr>
              <td class="text-right"><strong>E-mail</strong></td>
              <td>{{ usuario.email }}</td>
            </tr>
            <tr>
              <td class="text-right"><strong>Perfil</strong></td>
              <td>{{ usuario.perfil.get_papel_display }}</td>
            </tr>
            <tr>
              <td class="text-right"><strong>Paróquia</strong></td>
              <td>{{ usuario.perfil.paroquia|default:"-" }}</td>
            </tr>
          </table>
        </div>
        <div class="col">
          <div class="text-center">
            {% if usuario.perfil.foto %}
              {% thumbnail usuario.perfil.foto "225x300" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="Foto de {{ user.username }}" class="img-thumbnail">
              {% endthumbnail %}
            {% else %}
              <img src="{% static 'img/no-user-foto.png' %}" alt="{{ user.username }}" class="img-thumbnail">
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="{% url 'usuarios' %}" class="btn btn-secondary" role="button"><i class="fa fa-chevron-left" aria-hidden="true"></i> Voltar</a>
{% endblock %}
