Olá,

Alguém solicitou que a senha relacionada ao email {{ email }} fosse redefinida.
Clique neste link para realizar a ação:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Caso você tenha esquecido, seu usuário é: {{ user.username }}

Se ao clicar no link mencionado acima e o mesmo não funcionar, por favor copie e cole
a URL em uma nova janela do navegador.

Se você não solicitou este email, é provável que alguém informou o seu email por engano.
Desta forma, não é preciso nenhuma ação sua, basta desconsiderar este email.

Obrigado pela atenção,
Equipe SDízimo