{% extends 'base_auth.html' %}

{% block title %}
  {% if validlink %}
    Redefinição de senha para {{ form.user.username }}
  {% else %}
    Redefina sua senha
  {% endif %}
{% endblock %}

{% block content %}
  {% if validlink %}
    <h3>Redefinir a senha de {{ form.user.username }}</h3>
    <form method="post" novalidate>
      {% csrf_token %}
      {% include 'includes/form.html' %}
      <button type="submit" class="btn btn-success btn-block">Alterar senha</button>
    </form>
  {% else %}
    <h3>Redefina sua senha</h3>
    <div class="alert alert-danger" role="alert">
      Parace que você clicou em um link inválido para redefinição de senha. Por favor tente novamente.
    </div>
    <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">Solicite um novo link para redefinição de senha</a>
  {% endif %}
{% endblock %}
