{% extends 'base.html' %}

{% block title %}{{dizimo}}{% endblock %}

{% block pageheader %}{{dizimo}}{% endblock %}

{% block breadcrumb %}
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Início</a></li>
      <li class="breadcrumb-item"><a href="{% url 'dizimo:dizimos' %}">Dízimos</a></li>
      <li class="breadcrumb-item active">{{dizimo}}</li>
    </ol>
  </nav>
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header d-flex align-items-center">
      <h3 class="h4">{{dizimo}}</h3>
    </div>
    <div class="card-body">
      <form method="post" class="mb-4" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i> Salvar</button>
        <a href="{% url 'dizimo:exibe_dizimo' dizimo.pk %}" class="btn btn-outline-secondary" role="button"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</a>
      </form>
    </div>
  </div>

  <script>
    $(document).ready(function(){
      $('#id_referencia').mask("00/0000", {placeholder: "__/____"});
      $('#id_valor').mask("#.##0,00", {reverse: true});
      $('#id_data').mask("00/00/0000", {placeholder: "__/__/____"});
      $('.django-select2').djangoSelect2({
        theme: 'bootstrap4',
        allowClear: true
      });
    });
  </script>
{% endblock %}