/* css para corrigir problema no login */
.login-page::before {
  z-index: 0;
}

/* login */
#login-form {
  margin-bottom: 10px;
}

.logo-login a {
  color: rgb(255, 255, 255);
}

.logo-login a:hover,
.logo-login a:active {
  text-decoration: none;
}

/* css para corrigir problema na navbar */
nav.navbar .container-fluid {
  display: flow-root;
}