/* css para corrigir problema no login */
.login-page::before {
  z-index: 0;
}

/* login */
#login-form {
  margin-bottom: 10px;
}

.logo-login a {
  color: rgb(255, 255, 255);
}

.logo-login a:hover,
.logo-login a:active {
  text-decoration: none;
}

/* css para corrigir problema na navbar */
nav.navbar {
  z-index: 1000;
}

nav.navbar .container-fluid {
  display: flow-root;
}

@media (max-width: 991px) {
  .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
      padding-left: 15px;
  }
}

/* css para corrigir alinhamento dos fontawesome icons no sidebar */
.side-navbar *[class*="fa-"] {
  transform: translateY(2px);
  font-size: 1.5em;
  width: 25px;
}

.side-navbar.shrinked *[class*="fa-"] {
  width: inherit;
}

/* css para corrigir alinhamento do breadcrumb */
.breadcrumb {
  padding: 20px 30px;
}

/* css para corrigir alinhamento de listas */
form ul {
  padding: 8px 35px;
}

/* css para corrigir tabela do formset */
table.formset input.form-control {
  padding: 6px 8px;
}

table.formset td {
  vertical-align: text-bottom;
}

/* css para corrigir altura do select */
select.form-control:not([size]):not([multiple]) {
  height: 45px;
  margin-bottom: 0;
}

nav.side-navbar ul li.active-dropdown a {
  background: #CBDDE8;
}

/* css cara corrigir links dos quadros da home */
.dashboard a {
  display: inline;
  color: #333;
}

.dashboard a:hover,
.dashboard a:active {
  text-decoration: none;
}

/* aniversariantes */
.lista-aniversariantes {
  margin-bottom: 15px;
}
