{% extends 'base_pdf.html' %}

{% load static %}

{% block content %}
  <div class="card">
    <div class="card-body">
      <div id="foto" class="foto_dizimista mb-4">
        <img src="{% static 'img/no-user-foto.png' %}" width="150" height="200" alt="Foto 3x4" class="img-thumbnail">
      </div>
      <div class="col-9">
        <table class="table tabela_dados">
          <tr>
            <td width="130"><strong>Nº Cad.</strong></td>
            <td class="linha_dados">&nbsp;</td>
          </tr>
          <tr>
            <td><strong>Nome</strong></td>
            <td class="linha_dados">&nbsp;</td>
          </tr>
          <tr>
            <td><strong>Endereço</strong></td>
            <td class="linha_dados">&nbsp;</td>
          </tr>
          <tr>
            <td><strong>Bairro</strong></td>
            <td class="linha_dados">&nbsp;</td>
          </tr>
          <tr>
            <td><strong>Cidade</strong></td>
            <td class="linha_dados">&nbsp;</td>
          </tr>
          <tr>
            <td><strong>Data de nascimento</strong></td>
            <td class="linha_dados">&nbsp;</td>
          </tr>
          <tr>
            <td><strong>Paróquia</strong></td>
            <td class="linha_dados">&nbsp;</td>
          </tr>
          <tr>
            <td><strong>Comunidade</strong></td>
            <td class="linha_dados">&nbsp;</td>
          </tr>
          <tr>
            <td><strong>Sexo</strong></td>
            <td class="linha_dados">&nbsp;</td>
          </tr>
          <tr>
            <td><strong>Estado Civil</strong></td>
            <td class="linha_dados">&nbsp;</td>
          </tr>
        </table>
      </div>
      
      <h3 class="telefones_dizimista">Telefones</h3>
      <table class="table">
        <thead class="thead">
          <tr class="titulo_tabela">
              <th scope="col">Número</th>
              <th scope="col">Tipo</th>
              <th scope="col">Operadora</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class='primeira_linha linha_dados_em_branco'>&nbsp;</td>
            <td class='primeira_linha linha_dados_em_branco'>&nbsp;</td>
            <td class='primeira_linha linha_dados_em_branco'>&nbsp;</td>
          </tr>
          <tr>
            <td class='primeira_linha linha_dados_em_branco'>&nbsp;</td>
            <td class='primeira_linha linha_dados_em_branco'>&nbsp;</td>
            <td class='primeira_linha linha_dados_em_branco'>&nbsp;</td>
          </tr>
          <tr>
            <td class='primeira_linha linha_dados_em_branco'>&nbsp;</td>
            <td class='primeira_linha linha_dados_em_branco'>&nbsp;</td>
            <td class='primeira_linha linha_dados_em_branco'>&nbsp;</td>
          </tr>
          <tr>
            <td class='primeira_linha linha_dados_em_branco'>&nbsp;</td>
            <td class='primeira_linha linha_dados_em_branco'>&nbsp;</td>
            <td class='primeira_linha linha_dados_em_branco'>&nbsp;</td>
          </tr>
          <tr>
            <td class='primeira_linha linha_dados_em_branco'>&nbsp;</td>
            <td class='primeira_linha linha_dados_em_branco'>&nbsp;</td>
            <td class='primeira_linha linha_dados_em_branco'>&nbsp;</td>
          </tr>
          <tr>
            <td class='primeira_linha linha_dados_em_branco'>&nbsp;</td>
            <td class='primeira_linha linha_dados_em_branco'>&nbsp;</td>
            <td class='primeira_linha linha_dados_em_branco'>&nbsp;</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}