{% load form_tags widget_tweaks %}

{% if form.errors %}
  <div class="alert alert-danger" role="alert">
    {% for field in form %}
      {% for error in field.errors %}
        <p{% if forloop.last %} class="mb-0"{% endif %}>Erro em <strong>'{{ field.label }}'</strong>. {{ error }}</p>
      {% endfor %}
    {% endfor %}
  </div>
{% endif %}

<div class="row filter-form">
  {% for field in form %}
    <div class="form-group col-sm-3 col-md-2">
      {{ field.label_tag }}
      {% render_field field class="form-control" %}
      {% for error in field.errors %}
        <div class="invalid-feedback">
          {{ error }}
        </div>
      {% endfor %}
      {% if field.help_text %}
        <small class="form-text text-muted">
          {{ field.help_text|safe }}
        </small>
      {% endif %}
    </div>
  {% endfor %}
  <div class="form-group col-sm-4 col-md-3 d-flex align-items-end">
    <button class="btn btn-primary" id="btn-submit-search-form" type="submit"><i class="fa fa-search" aria-hidden="true"></i> Pesquisar</button>
  </div>
</div>