{% load static form_tags widget_tweaks %}

{{ form.media.css }}
<link rel="stylesheet" href="{% static 'css/select2-bootstrap4.min.css' %}">

{% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
    {% for error in form.non_field_errors %}
      <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
    {% endfor %}
  </div>
{% endif %}

{% for field in form %}
  <div class="form-group">
    {{ field.label_tag }}
    {% if form_readonly %}
      {% render_field field readonly='readonly' class=field|input_class %}
    {% else %}
      {% render_field field class=field|input_class %}
    {% endif %}
    {% for error in field.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
    {% endfor %}
    {% if field.help_text %}
      <small class="form-text text-muted">
        {{ field.help_text|safe }}
      </small>
    {% endif %}
  </div>
{% endfor %}

{{ form.media.js }}