{% extends 'base.html' %}

{% block title %}R$ {{ doacao.valor }}{% endblock %}

{% block pageheader %}R$ {{ doacao.valor }}{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Início</a></li>
    <li class="breadcrumb-item"><a href="{% url 'dizimo:doacoes' %}">Doações</a></li>
    <li class="breadcrumb-item active">R$ {{ doacao.valor }}</li>
  </ol>
</nav>
{% endblock %}

{% block content %}
  <div class="mb-4 d-flex flex-row-reverse">
    <ul class="list-inline">
      <li class="list-inline-item"><a href="{% url 'dizimo:nova_doacao' %}" class="btn btn-success"><i class="fa fa-plus-circle" aria-hidden="true"></i> Nova doação</a></li>
      {% if perms.dizimo.change_doacao %}
        <li class="list-inline-item"><a href="{% url 'dizimo:edita_doacao' doacao.pk %}" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar</a></li>
      {% endif %}
      {% if perms.dizimo.delete_doacao %}
        <li class="list-inline-item"><a href="{% url 'dizimo:exclui_doacao' doacao.pk %}" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i> Excluir</a></li>
      {% endif %}
      <li class="list-inline-item"><a href="{% url 'dizimo:recibo_doacao' doacao.pk %}" target="_blank" class="btn btn-dark"><i class="fa fa-print" aria-hidden="true"></i> Recibo</a></li>
    </ul>
  </div>

  <div class="card">
    <div class="card-header d-flex align-items-center">
      <h3 class="h4">R$ {{ doacao.valor }}</h3>
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <tr>
          <td width="130" class="text-right"><strong>Valor</strong></td>
          <td>R$ {{doacao.valor}}</td>
          <td class="text-right"><strong>Data</strong></td>
          <td>{{doacao.data}}</td>
        </tr>
        <tr>
          <td class="text-right"><strong>Descrição</strong></td>
          <td>{{doacao.descricao}}</td>
          <td class="text-right"><strong>Usuário responsável</strong></td>
          <td class="align-middle">{{doacao.usuario.get_full_name}} ({{doacao.usuario.username}})</td>
        </tr>
        <tr>
            <td class="text-right"><strong>Registrado em</strong></td>
            <td colspan="3">{{doacao.cadastrado_em}}</td>
        </tr>
      </table>
    </div>
  </div>
  <a href="{% url 'dizimo:doacoes' %}" class="btn btn-secondary" role="button"><i class="fa fa-chevron-left" aria-hidden="true"></i> Voltar</a>
{% endblock %}
