{% extends 'base.html' %}

{% block title %}Doações{% endblock %}

{% block pageheader %}Doações{% endblock %}

{% block breadcrumb %}
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Início</a></li>
      <li class="breadcrumb-item active">Doações</li>
    </ol>
  </nav>
{% endblock %}

{% block content %}
  <div class="mb-4 d-flex flex-row-reverse">
    <a href="{% url 'dizimo:nova_doacao' %}" class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i> Nova doação</a>
  </div>

  <div class="card">
    <div class="card-header d-flex align-items-center">
      <h3 class="h4">Filtros para pesquisa</h3>
    </div>
    <div class="card-body">
      <form method="GET">
        {% include 'includes/filter_form.html' %}
      </form>
    </div>
  </div>

  <div class="card">
    <div class="card-header d-flex align-items-center">
      <h3 class="h4">Listagem de Doações</h3>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead class="thead-inverse">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Descrição</th>
            <th scope="col">Valor (R$)</th>
            <th scope="col">Data</th>
            <th scope="col">Registrado em</th>
            <th scope="col">Usuário responsável</th>
          </tr>
        </thead>
        <tbody>
          {% for doacao in doacoes %}
            <tr>
              <td scope="row" width="60">
                <a href="{% url 'dizimo:exibe_doacao' doacao.pk %}" title="Exibir"><i class="fa fa-search" aria-hidden="true"></i></a>
                {% if perms.dizimo.change_doacao %}
                    <a href="{% url 'dizimo:edita_doacao' doacao.pk %}" title="Editar"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                {% endif %}
              </td>
              <td>{{ doacao.descricao }}</td>
              <td>{{ doacao.valor }}</td>
              <td>{{ doacao.data }}</td>
              <td>{{ doacao.cadastrado_em }}</td>
              <td>{{ doacao.usuario }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% include 'includes/pagination.html' %}
  <script>
    $(document).ready(function(){
      $('#id_data_inicio').mask("00/00/0000", {placeholder: "__/__/____"});
      $('#id_data_fim').mask("00/00/0000", {placeholder: "__/__/____"});
    });
  </script>
{% endblock %}
