{% extends 'base.html' %}

{% load static %}

{% block title %}
  Início
{% endblock %}

{% block pageheader %}
  Página inicial
{% endblock %}

{% block content %}
  <!-- Dashboard Counts Section-->
  <section class="dashboard dashboard-counts no-padding-bottom">
    <div class="container-fluid">
      <div class="row bg-white has-shadow">
        <!-- Item -->
        <div class="col-xl-3 col-sm-6">
          <a href="{% url 'dizimo:ofertas' %}">
            <div class="item d-flex align-items-center">
              <div class="icon bg-violet"><i class="icon-user"></i></div>
              <div class="title"><span>Ofertas</span>
                <div class="progress" style="height: 4px;">
                  <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-violet"></div>
                </div>
              </div>
              <div class="number"><strong>{{qtd_ofertas}}</strong></div>
            </div>
          </a>
        </div>
        <!-- Item -->
        <div class="col-xl-3 col-sm-6">
          <a href="{% url 'dizimo:dizimos' %}">
            <div class="item d-flex align-items-center">
              <div class="icon bg-red"><i class="icon-padnote"></i></div>
              <div class="title"><span>Dízimos</span>
                <div class="progress" style="height: 4px;">
                  <div role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-red"></div>
                </div>
              </div>
              <div class="number"><strong>{{qtd_dizimos}}</strong></div>
            </div>
          </a>
        </div>
        <!-- Item -->
        <div class="col-xl-3 col-sm-6">
          <a href="{% url 'dizimo:batismos' %}">
            <div class="item d-flex align-items-center">
              <div class="icon bg-green"><i class="icon-bill"></i></div>
              <div class="title"><span>Batismos</span>
                <div class="progress" style="height: 4px;">
                  <div role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-green"></div>
                </div>
              </div>
              <div class="number"><strong>{{qtd_batismos}}</strong></div>
            </div>
          </a>
        </div>
        <!-- Item -->
        <div class="col-xl-3 col-sm-6">
          <a href="{% url 'dizimo:doacoes' %}">
            <div class="item d-flex align-items-center">
              <div class="icon bg-orange"><i class="icon-check"></i></div>
              <div class="title"><span>Doações</span>
                <div class="progress" style="height: 4px;">
                  <div role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-orange"></div>
                </div>
              </div>
              <div class="number"><strong>{{qtd_doacoes}}</strong></div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- Dashboard Header Section    -->
  <section class="dashboard dashboard-header">
    <div class="container-fluid">
      <div class="row">
        <!-- Statistics -->
        <div class="statistics col-lg-3 col-12">
          <a href="{% url 'dizimo:dizimistas' %}">
            <div class="statistic d-flex align-items-center bg-white has-shadow mb-3">
              <div class="icon bg-orange"><i class="fa fa-address-card"></i></div>
              <div class="text"><strong>{{qtd_dizimistas}}</strong><br><small>Dizimistas</small></div>
            </div>
          </a>
          <a href="{% url 'dizimo:pagamentos' %}">
            <div class="statistic d-flex align-items-center bg-white has-shadow mb-3">
              <div class="icon bg-red"><i class="fa fa-credit-card fa-fw"></i></div>
              <div class="text"><strong>{{qtd_pagamentos}}</strong><br><small>Pagamentos</small></div>
            </div>
          </a>
          <div class="statistic d-flex align-items-center bg-white has-shadow mb-3">
            <div class="icon bg-green"><i class="fa fa-money"></i></div>
            <div class="text"><strong>{{qtd_recebimentos}}</strong><br><small>Recebimentos</small></div>
          </div>
        </div>
        <!-- Line Chart  -->
        <div class="chart col-lg-6 col-12">
          <div class="line-chart bg-white d-flex align-items-center justify-content-center has-shadow">
            <canvas id="grafico-recebimentos-pagamentos"></canvas>
          </div>
        </div>
        <div class="chart col-lg-3 col-12">
          <!-- Bar Chart   -->
          <div class="bar-chart has-shadow bg-white">
            <div class="title"><strong class="text-violet">{{dizimistas_em_dia_mes_atual}}%</strong><br><small>Dizimistas em dia</small></div>
            <canvas id="grafico-dizimistas-em-dia"></canvas>
          </div>
          <!-- Numbers-->
          <a href="{% url 'dizimo:aniversariantes' %}">
            <div class="statistic d-flex align-items-center bg-white has-shadow">
              <div class="icon bg-green"><i class="fa fa-calendar-o"></i></div>
              <div class="text"><strong>{{qtd_aniversariantes}}</strong><br><small>Aniversariantes</small></div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="client no-padding-top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <div class="work-amount card">
              <div class="card-body">
                <h3>Calendário de batismos em Agosto/2018</h3>
                {{calendario_mes_atual|safe}}
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="work-amount card">
              <div class="card-body">
                <h3>Calendário de batismos em Setembro/2018</h3>
                <div class="chart text-center">
                  <div class="text"><strong>90</strong><br><span>Hours</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}

{% block javascript %}
  <script src="{% static 'js/charts-home.js' %}"></script>
  <script>
    $(document).ready(function () {

      'use strict';
  
      // ------------------------------------------------------- //
      // Line Chart
      // ------------------------------------------------------ //
      var legendState = true;
      if ($(window).outerWidth() < 576) {
          legendState = false;
      }
  
      var LINECHART = $('#grafico-recebimentos-pagamentos');
      var myLineChart = new Chart(LINECHART, {
          type: 'line',
          options: {
              scales: {
                  xAxes: [{
                      display: true,
                      gridLines: {
                          display: false
                      }
                  }],
                  yAxes: [{
                      display: true,
                      gridLines: {
                          display: false
                      }
                  }]
              },
              legend: {
                  display: legendState
              },
          },
          data: {
              labels: ["JAN", "FEV", "MAR", "ABR", "MAI", "JUN", "JUL", "AGO", "SET", "OUT", "NOV", "DEZ"],
              datasets: [
                  {
                      label: "Pagamentos",
                      fill: true,
                      lineTension: 0,
                      backgroundColor: "transparent",
                      borderColor: '#f15765',
                      pointBorderColor: '#da4c59',
                      pointHoverBackgroundColor: '#da4c59',
                      borderCapStyle: 'butt',
                      borderDash: [],
                      borderDashOffset: 0.0,
                      borderJoinStyle: 'miter',
                      borderWidth: 1,
                      pointBackgroundColor: "#fff",
                      pointBorderWidth: 1,
                      pointHoverRadius: 5,
                      pointHoverBorderColor: "#fff",
                      pointHoverBorderWidth: 2,
                      pointRadius: 1,
                      pointHitRadius: 0,
                      data: {{ estatisticas_pagamentos }},
                      spanGaps: false
                  },
                  {
                      label: "Recebimentos",
                      fill: true,
                      lineTension: 0,
                      backgroundColor: "transparent",
                      borderColor: "#54e69d",
                      pointHoverBackgroundColor: "#44c384",
                      borderCapStyle: 'butt',
                      borderDash: [],
                      borderDashOffset: 0.0,
                      borderJoinStyle: 'miter',
                      borderWidth: 1,
                      pointBorderColor: "#44c384",
                      pointBackgroundColor: "#fff",
                      pointBorderWidth: 1,
                      pointHoverRadius: 5,
                      pointHoverBorderColor: "#fff",
                      pointHoverBorderWidth: 2,
                      pointRadius: 1,
                      pointHitRadius: 10,
                      data: {{ estatisticas_recebimentos }},
                      spanGaps: false
                  }
              ]
          }
      });

      // ------------------------------------------------------- //
    // Bar Chart
    // ------------------------------------------------------ //
    var BARCHARTHOME = $('#grafico-dizimistas-em-dia');
    var barChartHome = new Chart(BARCHARTHOME, {
        type: 'bar',
        options:
        {
            scales:
            {
                xAxes: [{
                    display: false
                }],
                yAxes: [{
                    display: false
                }],
            },
            legend: {
                display: false
            }
        },
        data: {
            labels: ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"],
            datasets: [
                {
                    label: "Porcentagem (%)",
                    backgroundColor: [
                        'rgb(121, 106, 238)',
                        'rgb(121, 106, 238)',
                        'rgb(121, 106, 238)',
                        'rgb(121, 106, 238)',
                        'rgb(121, 106, 238)',
                        'rgb(121, 106, 238)',
                        'rgb(121, 106, 238)',
                        'rgb(121, 106, 238)',
                        'rgb(121, 106, 238)',
                        'rgb(121, 106, 238)',
                        'rgb(121, 106, 238)',
                        'rgb(121, 106, 238)'
                    ],
                    borderColor: [
                        'rgb(121, 106, 238)',
                        'rgb(121, 106, 238)',
                        'rgb(121, 106, 238)',
                        'rgb(121, 106, 238)',
                        'rgb(121, 106, 238)',
                        'rgb(121, 106, 238)',
                        'rgb(121, 106, 238)',
                        'rgb(121, 106, 238)',
                        'rgb(121, 106, 238)',
                        'rgb(121, 106, 238)',
                        'rgb(121, 106, 238)',
                        'rgb(121, 106, 238)'
                    ],
                    borderWidth: 1,
                    data: {{ estatisticas_dizimistas }}
                }
            ]
        }
      });

    });
  </script>
{% endblock javascript %}