{% extends 'base.html' %}

{% block title %}Cadastro de novo dizimista{% endblock %}

{% block pageheader %}Cadastro de dizimista{% endblock %}

{% block breadcrumb %}
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Início</a></li>
      <li class="breadcrumb-item"><a href="{% url 'dizimo:dizimistas' %}">Dizimistas</a></li>
      <li class="breadcrumb-item active">Novo dizimista</li>
    </ol>
  </nav>
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header d-flex align-items-center">
      <h3 class="h4">Cadastro de dizimista</h3>
    </div>
    <div class="card-body">
      <form method="post" class="mb-4" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <h3 class="h4 mt-5">Telefones</h3>
        {% include 'includes/formset.html' %}
        <button type="submit" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i> Salvar</button>
      </form>
    </div>
  </div>

  <script>
    $(document).ready(function(){
      $('#id_data_nascimento').mask("00/00/0000", {placeholder: "__/__/____"});
      $('input[name$=-numero]').mask(phoneMaskBehavior, phoneMaskOptions);
    });
  </script>
{% endblock %}