{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>SDízimo {% if titulo_relatorio %} - {{ titulo_relatorio }}{% endif %}</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    
    <style>
      @page { 
        size: A4; 
        margin: 1.5cm;
      }
    </style>

    {% include 'includes/pdf_style.html' %}
  </head>

  <body>
    <h1>
      <strong>SDízimo</strong><br>
      <small>Sistema para controle e gerenciamento de dízimos e ofertas</small>
    </h1>
    {% if titulo_relatorio %}
      <div class="titulo_relatorio">
          {{ titulo_relatorio }}
      </div>
    {% endif %}
    <div class="mt-1">
      {% block content %}{% endblock %}
    </div>

    <div class="footer">
      <small>Emitido por {{ user.get_full_name }} em {% now 'SHORT_DATETIME_FORMAT' %}.</small> 
      {% comment %} <pdf:pagenumber /> {% endcomment %}
    </div>
  </body>
</html>
