{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SDízimo {% if titulo_relatorio %} - {{ titulo_relatorio }}{% endif %}</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <!-- Normalize or reset CSS with your favorite library -->
    <link rel="stylesheet" href="{% static 'css/normalize.min.css' %}">
    <!-- Load paper.css for happy printing -->
    <link rel="stylesheet" href="{% static 'css/paper.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.blue.css' %}" id="theme-stylesheet">
    <!-- Set page size here: A5, A4 or A3 -->
    <!-- Set also "landscape" if you need -->
    <style>
      body.A7 .sheet { width: 79mm; height: 105mm }
      .sheet.padding-5mm { padding: 5mm }
      .rodape {
        font-size: 0.85em;
      }
      .conteudo {
        font-size: 0.9em;
      }
      @page {
        size: A4;
      }
      .sheet {
        overflow: visible;
        height: auto !important;
      }
      h5 {
        padding: 10px 0;
        border-bottom: 2px solid #e9ecef;
      }
      .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #7e7a79;
        color: white;
        text-align: center;
        font-size: 0.9em;
        padding: 20px;
      }
    </style>
  </head>

  <!-- Set "A5", "A4" or "A3" for class name -->
  <!-- Set also "landscape" if you need -->
  <body class="A7">
    <!-- Each sheet element should have the class "sheet" -->
    <!-- "padding-**mm" is optional: you can set 10, 15, 20 or 25 -->
    <section class="sheet padding-5mm">
      <h5 pb-4>
        <strong>{{paroquia.nome}}</strong><br>
        <small>{{paroquia.endereco}}.<br>Tel.: {{paroquia.telefone}}</small>
      </h5>
      <div class="mt-4 mb-3 text-center">
          RECIBO
      </div>
      <div class="conteudo mt-1">
        {% block content %}{% endblock %}
      </div>

      <footer class="rodape border border-right-0 border-left-0 border-bottom-0 mt-4 pt-1">
        <small>Emitido em {% now 'SHORT_DATETIME_FORMAT' %}.</small>
      </footer>
    </section>
    <div class="footer">
      <p>
        Para uso da impressora térmica é necessário ter Java e o QZ-Tray instalados. Para fazer a instação do QZ-Tray baixe abaixo versão de acordo com seu sistema operacional.<br>
        Obs.: Para ser reconhecida no sistema, o nome da impressora deve ser <strong>daruma</strong>.
      </p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="{% static 'qz/qz-tray-install.run' %}" class="btn btn-success"><i class="fa fa-linux" aria-hidden="true"></i> QZ-Tray Linux/Unix</a></li>
        <li class="list-inline-item"><a href="{% static 'qz/qz-tray-install.exe' %}" class="btn btn-success"><i class="fa fa-windows" aria-hidden="true"></i> QZ-Tray Windows</a></li>
      </ul>
    </div>
  </body>
</html>

{% comment %} <script type="text/javascript" src="{% static 'qz/dependencies/jsrsasign-all-min.js' %}"></script> {% endcomment %}
<script type="text/javascript" src="{% static 'qz/dependencies/rsvp-3.1.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'qz/dependencies/sha-256.min.js' %}"></script>
<script type="text/javascript" src="{% static 'qz/qz-tray.js' %}"></script>
<script type="text/javascript">
  //window.onload = function() { window.print(); }

  /*
  qz.websocket.connect().then(function() {
    console.log("Connected!");

    qz.printers.find("daruma").then(function(found) {
      console.log("Printer: " + found);
    });
  });
  */
  qz.security.setCertificatePromise(function (resolve, reject) {
    resolve(`-----BEGIN CERTIFICATE-----
    MIIEEDCCAvigAwIBAgIJANUcaGbstXZgMA0GCSqGSIb3DQEBCwUAMIGbMQswCQYD
    VQQGEwJCUjERMA8GA1UECAwITWFyYW5oYW8xETAPBgNVBAcMCFNhbyBMdWlzMRAw
    DgYDVQQKDAdTRGl6aW1vMRAwDgYDVQQLDAdTRGl6aW1vMRowGAYDVQQDDBEqLmlu
    Zm9iaXRzLm5ldC5icjEmMCQGCSqGSIb3DQEJARYXc2Rpemltb0BpbmZvYml0cy5u
    ZXQuYnIwIBcNMTgxMTA1MjM1NDE5WhgPMjA1MDA0MzAyMzU0MTlaMIGbMQswCQYD
    VQQGEwJCUjERMA8GA1UECAwITWFyYW5oYW8xETAPBgNVBAcMCFNhbyBMdWlzMRAw
    DgYDVQQKDAdTRGl6aW1vMRAwDgYDVQQLDAdTRGl6aW1vMRowGAYDVQQDDBEqLmlu
    Zm9iaXRzLm5ldC5icjEmMCQGCSqGSIb3DQEJARYXc2Rpemltb0BpbmZvYml0cy5u
    ZXQuYnIwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDjECXwO7TacgPB
    +rT32/b5rLyRyL0xtKiw5XMFrG0DMOyqSutILY1LCnqt9QbO4RyY8i2u4sFo0aaS
    2t1B4hv2CvMQuGnDMrB+gIjhLLUuv9qwtrMyIda7ksEgnld3UijffPd/JIlPl0fI
    RDVzu6wEZfR5Zow0gC4dCVvDe+7Vdb/+6zK7U4Mc8ba2wPrV6Szw7TOnWfO4WYYP
    CArc5rA4khuZEnkEgT0Nm9mPWlMAfpwxIOlJRqrPsyIhpwPspdvCTnsP7NxoH0u/
    gVIXvk05gJ8W59vjcNXsls9KFZDgWUiJhliVsBEtSAul8BBVXzSWn5AMTE0FfaNS
    so1tHqcbAgMBAAGjUzBRMB0GA1UdDgQWBBRziVvE+CODLg8I7271dnfd6UH/NTAf
    BgNVHSMEGDAWgBRziVvE+CODLg8I7271dnfd6UH/NTAPBgNVHRMBAf8EBTADAQH/
    MA0GCSqGSIb3DQEBCwUAA4IBAQDUdGM5cpU1TNJg+fyInFmwUdyGp1yzB49V2GS1
    puqs5aLEmpx9o/Tk+t0eojTTtROIfVealUYSX1bZOkssl5NWb4xpRe4pr9e1VB2U
    LDwaLF8N/+IsLaxgU1SBE66sK/Ob5dgy5XNXoE8gOb8rlKVokNPvmWdH8H5tiZ5i
    n9q9tGwzcGFf2dkKx9bh7DNV7UFHWJjz4fV/SMWm0o1/128XZnhKyxVWRIQLwc91
    6BDRPgSppjbCrNBlWaq7cpRLmyArDIOD02EICbbdgzXVA3TPKZOxKWltxVnDdHlA
    xk3HziNMLbb0ZONRGg7Gp5P6MBlvYmBKQMOAAWFXV7tzE7GF
    -----END CERTIFICATE-----
    `);
  });

  var privateKey = `-----BEGIN CERTIFICATE-----
  MIIEEDCCAvigAwIBAgIJANUcaGbstXZgMA0GCSqGSIb3DQEBCwUAMIGbMQswCQYD
  VQQGEwJCUjERMA8GA1UECAwITWFyYW5oYW8xETAPBgNVBAcMCFNhbyBMdWlzMRAw
  DgYDVQQKDAdTRGl6aW1vMRAwDgYDVQQLDAdTRGl6aW1vMRowGAYDVQQDDBEqLmlu
  Zm9iaXRzLm5ldC5icjEmMCQGCSqGSIb3DQEJARYXc2Rpemltb0BpbmZvYml0cy5u
  ZXQuYnIwIBcNMTgxMTA1MjM1NDE5WhgPMjA1MDA0MzAyMzU0MTlaMIGbMQswCQYD
  VQQGEwJCUjERMA8GA1UECAwITWFyYW5oYW8xETAPBgNVBAcMCFNhbyBMdWlzMRAw
  DgYDVQQKDAdTRGl6aW1vMRAwDgYDVQQLDAdTRGl6aW1vMRowGAYDVQQDDBEqLmlu
  Zm9iaXRzLm5ldC5icjEmMCQGCSqGSIb3DQEJARYXc2Rpemltb0BpbmZvYml0cy5u
  ZXQuYnIwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDjECXwO7TacgPB
  +rT32/b5rLyRyL0xtKiw5XMFrG0DMOyqSutILY1LCnqt9QbO4RyY8i2u4sFo0aaS
  2t1B4hv2CvMQuGnDMrB+gIjhLLUuv9qwtrMyIda7ksEgnld3UijffPd/JIlPl0fI
  RDVzu6wEZfR5Zow0gC4dCVvDe+7Vdb/+6zK7U4Mc8ba2wPrV6Szw7TOnWfO4WYYP
  CArc5rA4khuZEnkEgT0Nm9mPWlMAfpwxIOlJRqrPsyIhpwPspdvCTnsP7NxoH0u/
  gVIXvk05gJ8W59vjcNXsls9KFZDgWUiJhliVsBEtSAul8BBVXzSWn5AMTE0FfaNS
  so1tHqcbAgMBAAGjUzBRMB0GA1UdDgQWBBRziVvE+CODLg8I7271dnfd6UH/NTAf
  BgNVHSMEGDAWgBRziVvE+CODLg8I7271dnfd6UH/NTAPBgNVHRMBAf8EBTADAQH/
  MA0GCSqGSIb3DQEBCwUAA4IBAQDUdGM5cpU1TNJg+fyInFmwUdyGp1yzB49V2GS1
  puqs5aLEmpx9o/Tk+t0eojTTtROIfVealUYSX1bZOkssl5NWb4xpRe4pr9e1VB2U
  LDwaLF8N/+IsLaxgU1SBE66sK/Ob5dgy5XNXoE8gOb8rlKVokNPvmWdH8H5tiZ5i
  n9q9tGwzcGFf2dkKx9bh7DNV7UFHWJjz4fV/SMWm0o1/128XZnhKyxVWRIQLwc91
  6BDRPgSppjbCrNBlWaq7cpRLmyArDIOD02EICbbdgzXVA3TPKZOxKWltxVnDdHlA
  xk3HziNMLbb0ZONRGg7Gp5P6MBlvYmBKQMOAAWFXV7tzE7GF
  -----END CERTIFICATE-----
  `;

  qz.security.setSignaturePromise(function (toSign) {
      return function (resolve, reject) {
          try {
              var pk = new RSAKey();
              pk.readPrivateKeyFromPEMString(strip(privateKey));
              var hex = pk.signString(toSign, 'sha1');
              console.log("DEBUG: \n\n" + stob64(hextorstr(hex)));
              resolve(stob64(hextorstr(hex)));
          } catch (err) {
              console.error(err);
              reject(err);
          }
      };
  });

  function strip(key) {
      if (key.indexOf('-----') !== -1) {
          return key.split('-----')[2].replace(/\r?\n|\r/g, '');
      }
  }

  var map={"â":"a","Â":"A","à":"a","À":"A","á":"a","Á":"A","ã":"a","Ã":"A","ê":"e","Ê":"E","è":"e","È":"E","é":"e","É":"E","î":"i","Î":"I","ì":"i","Ì":"I","í":"i","Í":"I","õ":"o","Õ":"O","ô":"o","Ô":"O","ò":"o","Ò":"O","ó":"o","Ó":"O","ü":"u","Ü":"U","û":"u","Û":"U","ú":"u","Ú":"U","ù":"u","Ù":"U","ç":"c","Ç":"C"};

  function removerAcentos(s){ return s.replace(/[\W\[\] ]/g,function(a){return map[a]||a}) };

  qz.websocket.connect().then(function() {
    return qz.printers.find("daruma")               // Pass the printer name into the next Promise
  }).then(function(printer) {
    var config = qz.configs.create(printer);       // Create a default config for the found printer
    var cabecalho = removerAcentos(
      '------------------------------------------------\n' +
      '{{paroquia.nome|escapejs}}\n' +
      '{{paroquia.endereco|escapejs}}.\n' +
      'Tel.: {{paroquia.telefone|escapejs}}\n' +
      '------------------------------------------------\n' +
      '\n' +
      '                    RECIBO\n' +
      '\n'
    );
    var texto = removerAcentos({% block recibo_raw %}{% endblock %});
    var rodape = removerAcentos(
      '\n' +
      '------------------------------------------------\n' +
      "Emitido em {% now 'SHORT_DATETIME_FORMAT' %}\n" +
      '\n\n\n\n\n\n\n\n'
    );
    var data = [
      cabecalho,
      texto,
      rodape
    ];
    return qz.print(config, data);
  }).catch(function(e) { console.error(e); });
</script>
