{% extends 'base.html' %}

{% block title %}{{ usuario.username }}{% endblock %}

{% block pageheader %}{{ usuario.username }}{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Início</a></li>
    <li class="breadcrumb-item"><a href="{% url 'usuarios' %}">Usuários</a></li>
    <li class="breadcrumb-item active">{{ usuario.username }}</li>
  </ol>
</nav>
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header d-flex align-items-center">
      <h3 class="h4">{{ usuario.username }}</h3>
    </div>
    <div class="card-body">
      <form method="post" enctype="multipart/form-data" class="mb-4" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        {% include 'includes/form.html' with form=perfil_form %}
        <button type="submit" class="btn btn-success">Salvar</button>
        <a href="{% url 'exibe_usuario' usuario.pk %}" class="btn btn-outline-secondary" role="button">Cancelar</a>
      </form>
    </div>
  </div>
{% endblock %}