{% extends 'base.html' %}

{% block title %}Senha alterada com sucesso{% endblock %}

{% block pageheader %}Senha alterada com sucesso{% endblock %}

{% block breadcrumb %}
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Início</a></li>
      <li class="breadcrumb-item active">Alteração de senha</li>
    </ol>
  </nav>
{% endblock %}

{% block content %}
  <div class="alert alert-success" role="alert">
      Senha alterada com <strong>sucesso!</strong>
  </div>
  <a href="{% url 'inicio' %}" class="btn btn-secondary">Voltar para página inicial</a>
{% endblock %}