{% extends 'autenticacao/base.html' %}

{% block title %}Redefina sua senha{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Redefina sua senha</h3>
          <p>Verifique no seu email por um link para redefinir sua senha. Se você não localizar o email em alguns minutos, verifique a pasta de lixo eletrônico.</p>
          <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Voltar ao Login</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}