{% extends "base.html" %}

{% block title %}Cadastro de usuário{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'inicio' %}">Início</a></li>
<li class="breadcrumb-item"><a href="#">Usuários</a></li>
<li class="breadcrumb-item active">Novo usuário</li>
{% endblock %}

{% block content %}
  <form method="post" novalidate>
    {% csrf_token %}
    {% include "includes/form.html" %}
    <button type="submit" class="btn btn-primary">Criar usuário</button>
  </form>
{% endblock %}